
p {
    font-family: Courier;
    font-size: 26px;
}

h1 {
    font-family: Arial;
    font-size: 40px;
}

picture img {
  max-width: 100%;
  width: 800px;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: white;
}

logo img {
  max-width: 100%;
  width: 800px;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
    margin-top: auto;
}


nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
    padding-inline: 3rem;
}

.logo img {
  margin: 0;
  width: 10%;
  height: 11%;
}

.picture img {
    display: flex;
    width: 85%;
    height: 85%;
    background-size: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 7%;
    margin-bottom: 7%;
}

.map img {
    display: flex;
    width: 30%;
    height: 30%;
    background-size: 30%;
    margin-left: auto;
    margin: 20%;
    border: darkslategray;
}
.content {
    display: flex;
    background: #B8860B;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    height: 220%;
    color: #FFFFFF;
}

li a {
    display: flex;
    text-decoration: none;
    color: darkslategray;
    margin-right: 40%;
}
.contact_content {
    color: #FFFFFF;
    display: inline-block;
}

.products {
    display: flex;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    color: #FFFFFF
}
.products figure img {
    width: 100%;
    height: 100%;
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
}

.products figure{
    margin-bottom: 50px;
    margin-left: auto;
    margin-right: auto;
    width: 65%;
    height: 55%;
    background-color: #B8860B;
}

figcaption {
    font-size: 30px;
    color: #FFFFFF;
}

.text1 {
    width: 90%;
    margin-right: auto;
    margin-left: auto;
    color: #FFFFFF;
}

.nav_items {
    margin-right: 3%;
    font-size: 22px;
}

html {
    background-color: #1A0D19;
}

.head_image {
    margin-left: 45%;
    margin-right: 50%;
    color: #FFFFFF;
}

.head_image img{
    margin-left: 0%;
    margin-right: 50%;
}

main {
    margin: 100%;
}

.carimage img {
    width:100%;
    height: 100%;
}









