
p {
    font-family: Courier;
    font-size: 28px;
}

h1 {
    font-family: Arial;
    font-size: 40px;
}

picture img {
  max-width: 100%;
  width: 800px;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
  background-color: lightgrey;
}

logo img {
  max-width: 100%;
  width: 800px;
  height: 350px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 55px;
}


nav ul {
  list-style: none;
}
nav ul li {
  display: inline-block;
}

.logo img {
  margin: 0;
  width: 10%;
  height: 11%;
}

.picture img {
    display: flex;
    width: 85%;
    height: 85%;
    background-size: 50%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 10%;
    margin-bottom: 10%;
}

.map img {
    display: flex;
    width: 30%;
    height: 30%;
    background-size: 30%;
    margin-left: auto;
}
.content {
    display: flex;
    background: beige;
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    height: 220%;
}

li a {
    text-decoration: none;
    color: darkslategray;
    margin-right: 10%;
}
.contact_content {
    color: black;
    display: inline-block;
}
